

<div class="row">


    <div class="col-md-7 col-sm-8 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h3>Dossiers en cours</h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4>Liste des dossiers modifies recemment</h4>
            </div>
        </div>
    </div>


    <div class="col-md-5 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_390" style="overflow-y:auto; height:500px">
            <div class="x_title">
                <h3>Alertes</h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="list-unstyled msg_list">
                    <li *ngIf="!id1">
                        <a>
                            <span class="image"><i class="fa fa-exclamation-circle" style="font-size:20px"></i></span>
                            <span>
                                <span>Article: 33453</span>
                                <span class="time">
                                    10/03/2017 a 16:20
                                    <button class="close closeTab" (click)="id1=true" style="margin:-6px 0px 0px 10px">x</button>
                                </span>

                            </span>
                            <span class="message">
                                L'article (AUX CONFINS DU SENS) a change de nombre de pages de 266 a 280.
                            </span>
                        </a>
                    </li>
                    <li *ngIf="!id2">
                        <a>
                            <span class="image"><i class="fa fa-exclamation-circle" style="font-size:20px"></i></span>
                            <span>
                                <span>Tirage: 33422</span>
                                <span class="time">
                                    10/03/2017 a 10:30
                                    <button class="close closeTab" (click)="id2=true" style="margin:-6px 0px 0px 10px">x</button>
                                </span>
                            </span>
                            <span class="message">
                                Le tirage () a change de quantite de 1500 a 2000.
                            </span>
                        </a>
                    </li>
                    <li *ngIf="!id3">
                        <a>
                            <span class="image"><i class="fa fa-exclamation-circle" style="font-size:20px"></i></span>
                            <span>
                                <span>Article: 33453</span>
                                <span class="time">
                                    10/03/2017 a 16:20
                                    <button class="close closeTab" (click)="id3=true" style="margin:-6px 0px 0px 10px">x</button>
                                </span>

                            </span>
                            <span class="message">
                                L'article (AUX CONFINS DU SENS) a change de nombre de pages de 266 a 280.
                            </span>
                        </a>
                    </li>
                    <li *ngIf="!id4">
                        <a>
                            <span class="image"><i class="fa fa-exclamation-circle" style="font-size:20px"></i></span>
                            <span>
                                <span>Tirage: 33422</span>
                                <span class="time">
                                    10/03/2017 a 10:30
                                    <button class="close closeTab" (click)="id4=true" style="margin:-6px 0px 0px 10px">x</button>
                                </span>
                            </span>
                            <span class="message">
                                Le tirage () a change de quantite de 1500 a 2000.
                            </span>
                        </a>
                    </li>
                    <li *ngIf="!id5">
                        <a>
                            <span class="image"><i class="fa fa-exclamation-circle" style="font-size:20px"></i></span>
                            <span>
                                <span>Article: 33453</span>
                                <span class="time">
                                    10/03/2017 a 16:20
                                    <button class="close closeTab" (click)="id5=true" style="margin:-6px 0px 0px 10px">x</button>
                                </span>

                            </span>
                            <span class="message">
                                L'article (AUX CONFINS DU SENS) a change de nombre de pages de 266 a 280.
                            </span>
                        </a>
                    </li>
                    <li *ngIf="!id6">
                        <a>
                            <span class="image"><i class="fa fa-exclamation-circle" style="font-size:20px"></i></span>
                            <span>
                                <span>Tirage: 33422</span>
                                <span class="time">
                                    10/03/2017 a 10:30
                                    <button class="close closeTab" (click)="id6=true" style="margin:-6px 0px 0px 10px">x</button>
                                </span>
                            </span>
                            <span class="message">
                                Le tirage () a change de quantite de 1500 a 2000.
                            </span>
                        </a>
                    </li>
                    <li *ngIf="!id7">
                        <a>
                            <span class="image"><i class="fa fa-exclamation-circle" style="font-size:20px"></i></span>
                            <span>
                                <span>Article: 33453</span>
                                <span class="time">
                                    10/03/2017 a 16:20
                                    <button class="close closeTab" (click)="id7=true" style="margin:-6px 0px 0px 10px">x</button>
                                </span>

                            </span>
                            <span class="message">
                                L'article (AUX CONFINS DU SENS) a change de nombre de pages de 266 a 280.
                            </span>
                        </a>
                    </li>
                    <li *ngIf="!id8">
                        <a>
                            <span class="image"><i class="fa fa-exclamation-circle" style="font-size:20px"></i></span>
                            <span>
                                <span>Tirage: 33422</span>
                                <span class="time">
                                    10/03/2017 a 10:30
                                    <button class="close closeTab" (click)="id8=true" style="margin:-6px 0px 0px 10px">x</button>
                                </span>
                            </span>
                            <span class="message">
                                Le tirage () a change de quantite de 1500 a 2000.
                            </span>
                        </a>
                    </li>
                    <li *ngIf="!id9">
                        <a>
                            <span class="image"><i class="fa fa-exclamation-circle" style="font-size:20px"></i></span>
                            <span>
                                <span>Article: 33453</span>
                                <span class="time">
                                    10/03/2017 a 16:20
                                    <button class="close closeTab" (click)="id9=true" style="margin:-6px 0px 0px 10px">x</button>
                                </span>

                            </span>
                            <span class="message">
                                L'article (AUX CONFINS DU SENS) a change de nombre de pages de 266 a 280.
                            </span>
                        </a>
                    </li>
                    <li *ngIf="!id10">
                        <a>
                            <span class="image"><i class="fa fa-exclamation-circle" style="font-size:20px"></i></span>
                            <span>
                                <span>Tirage: 33422</span>
                                <span class="time">
                                    10/03/2017 a 10:30
                                    <button class="close closeTab" (click)="id10=true" style="margin:-6px 0px 0px 10px">x</button>
                                </span>
                            </span>
                            <span class="message">
                                Le tirage () a change de quantite de 1500 a 2000.
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
