@{
    ViewData["Title"] = "Error";
}
<div style="padding:5px">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (!string.IsNullOrEmpty((string)ViewData["RequestId"]))
    {
        <p>
            <strong>Request ID:</strong> <code>@ViewData["RequestId"]</code>
        </p>
    }

    @if (!string.IsNullOrEmpty((string)ViewBag.ErrorMessage))
    {
        <p>
            <strong>Error message : </strong> <code>@ViewBag.ErrorMessage</code>
        </p>
    }

    <h3>Note</h3>
    <p>
        Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
    </p>
</div>
