<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info" >

  <extensions>
    <add assembly="NLog.MailKit"/>
  </extensions>


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allLog"
            fileName="${basedir}/logs/log.txt"
            archiveAboveSize="1200000"
            archiveFileName="${basedir}/logs/log.{####}.txt"
            archiveNumbering="Rolling"
            layout="${date}|${level:uppercase=true}|${logger}|${message} ${exception}|${all-event-properties}"
            maxArchiveFiles="20"/>
    
    <target xsi:type="File" name="errorLog"
        fileName="${basedir}/logs/error.txt"
        archiveAboveSize="1200000"
        archiveFileName="${basedir}/logs/error.{####}.txt"
        archiveNumbering="Rolling"
        layout="${date}|${level:uppercase=true}|${logger}|${message} ${exception}|${all-event-properties}"
        maxArchiveFiles="20"/>
    
    <target xsi:type="Console" name="consoleLog"
            layout="${date}|${level:uppercase=true}|${logger}|${message} ${exception}|${all-event-properties}" />

    <target xsi:type="Mail"
               name="mailserver"
               subject="Erreur sur LMG.FAB.Ref.Synchro"
               to="PDSI2@lamartiniere.fr"
               from="PDSI2@lamartiniere.fr"
               cc="fmasson@lamartiniere.fr"
               smtpServer="outlook.lamartiniere.fr"
               smtpPort="25"
               body="${date}|${level:uppercase=true}|${logger}|${message} ${exception}|${all-event-properties}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="allLog,consoleLog" >
      <filters>
        <when  condition="starts-with('${logger}','Microsoft.EntityFrameworkCore')"  action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Error" writeTo="mailserver" />
    <logger name="*" minlevel="Error" writeTo="errorLog" />
  </rules>
</nlog>